.timeline {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
} 